/*GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  /*1rem = 10px, (62.5*16)/100 = 10*/
  font-size: 62.5%;
}

/* body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  border-radius: 1.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 1.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea {
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/*DEFINING WHAT IS THE SIZE OF REM*/
@media only screen and (min-width: 1921px) {
  html {
    /* 1rem = 12px, (75*16)/100 = 12 */
    font-size: 75%;
  }
}

@media only screen and (max-width: 1921px) {
  html {
    /* 1rem = 10px, (62.5*16)/100 = 10 */
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 1550px) {
  html {
    /* 1rem = 8.8px, (55*16)/100 = 8.8 */
    font-size: 55%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    /* 1rem = 6.4px, (40*16)/100 = 6.4 */
    font-size: 40%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    /* 1rem = 12.8px, (80*16)/100 = 12.8 */
    font-size: 80%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    /* 1rem = 10px, (62.5*16)/100 = 10 */
    font-size: 62.5%;
  }
}
