//VARIABLES

//colors
$color-orange: orange;
$color-white: #ffffff;
$color-gray: rgb(53, 53, 53);
$color-black: #080808;
$color-background: #1c1c1c;
$color-modal-background: rgb(27, 27, 27);
$color-primary: #8a2be2;
$color-backdrop: rgba(0, 0, 0, 0.4);
$color-green: lightseagreen;
$color-red: #ff0000;
